{% extends "main/layout.html" %}
{% block content %}
<div class="cart">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 mt-1">
                <h3 class="text-center">Active Orders</h3>
                {% if items %}
                <h4 class="text-center">Total Bill Amount: ${{ total }} for {{ count }} Dishes.</h4>
                <div class="table-responsive">
                    <table class="table table-light">
                        <thead>
                        <tr>
                            <!--<th scope="col">Ordered</th> -->
                            <th scope="col">Name</th>
                            <th scope="col">Description</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Price</th>
                            <th scope="col">Order Status</th>
                            <th scope="col">Paid Status</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for item_active in items %}
                        <tr>
                           <!-- <td>{{ item_active.ordered_date }}</td> -->
                            <td>{{ item_active.item.title }} <span class="badge badge-{{ item_active.item.label_colour }}">{{ item_active.item.labels }}</span></td>
                            <td>{{ item_active.item.description }}</td>
                            <td>{{ item_active.quantity }}</td>
                            <td>{{ item_active.item.price }}</td>
                            <td>{{ item_active.status }}</td>
                            {% if item_active.isPaid == True %}
                            <td> Paid </td>
                            {% else %}
                            <td> Not Paid </td>
                            {% endif %}
                        </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot>
                         <tr>
                           <th id="total" colspan="4">Total :</th>
                           <td><b>{{total}}</b></td>
                         </tr>
                        </tfoot>

                    </table>
                  
                    <button type="button" name="button" > <a href="{% url 'payrollpayment:payroll_reg' %}"> Proceed to Payment </a> </button> 
                </div>
               
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}
