{% extends "main/layout.html" %}
{% block content %}
{% load crispy_forms_tags %}
<div class="cart">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 mt-1">
                <h3 class="text-center">Active Orders</h3>
                {% if items %}
                <h4 class="text-center">Total Bill Amount: ${{total}} for {{ count }} Dishes.</h4>
                <div class="table-responsive">
                    <table class="table table-light">
                        <thead>
                        <tr>
                            <!--<th scope="col">Ordered</th> -->
                            <th scope="col">Name</th>
                            <th scope="col">Description</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Price</th>
                            <th scope="col">Order Status</th>
                            <th scope="col">Paid Status</th>
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for item_active in items %}
                        <tr>
                            <!--<td>{{ item_active.ordered_date }}</td> -->
                            <td>{{ item_active.item.title }} <span class="badge badge-{{ item_active.item.label_colour }}">{{ item_active.item.labels }}</span></td>
                            <td>{{ item_active.item.description }}</td>
                            <td>{{ item_active.quantity }}</td>
                            <td>{{ item_active.get_total }}</td>
                            <td>{{ item_active.status }}</td>
                            {% if item_active.isPaid == True %}
                            <td> Paid </td>
                            {% else %}
                            <td> Not Paid </td>
                            {% endif %}                            
                            <td><a class="btn btn-danger" href="{% url 'orders:remove-from-order' item_active.id %}">Delete</a></td>
                        </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot>
                         <tr>
                           <th id="total" colspan="4">Total :</th>
                           <td><b>{{total}}</b></td>
                           <th scope="col"></th>
                           <th scope="col"></th>
                         </tr>
                        </tfoot>
                    </table>
                     {% endif %}
                    <div class="row">
                        <div class="col-md-6 offset-md-3"><h2>Fill in details for delivery !!</h2>  </div>
                    </div>
                       <form class="col-sm-12 mt-1 needs-validation" method="POST" novalidate>
                        {% csrf_token %}
                        <div class="form-row">
                          <div class="col">
                            <label for="inputState">Payment Method</label>
                            <select id="inputState" class="form-control" name="payment_method" required>
                              <option selected>Payroll</option>
                              <option>Debit/Credit Card</option>
                            </select>
                          </div>
                          <div class="col">
                            <label for="validationCustom01" class="form-label">Delivery Date</label>

                            <input type="date" name="delivery_date" class="form-control" id="inputPassword4" placeholder="Delivery Date" required>
                            <div class="valid-feedback">
                              Looks good!
                            </div>
                            <div class="invalid-feedback">
                              Please enter the Correct Delivery Date.
                            </div>
                          </div>
                          <div class="col">
                            <label for="validationCustom02" class="form-label">Delivery Time</label>

                            <input type="time" id="validationCustom02" name="delivery_time" class="form-control" placeholder="Request Delivery Time" min="05:00" max="21:30" required>
                            <div class="valid-feedback">
                              Looks good!
                            </div>
                            <div class="invalid-feedback">
                              Please enter the Correct Delivery Time.
                            </div>
                            <small>Cafeteria opening hours are 5.00am to 9.30pm</small>
                          </div>
                        </div>
                        <div class="form-group">
                          <label for="inputState">Delivery Mode</label>
                            <select id="delivery_mode" class="form-control" id="validationCustom03" name="delivery_mode" required>
                              <option selected>-----</option>
                              <option value="pickup">Pickup</option>
                              <option value="deliver">Deliver</option>
                            </select>
                            <div class="valid-feedback">
                              Looks good!
                            </div>
                            <div class="invalid-feedback">
                              Please enter the Correct Delivery Mode.
                            </div>
                        </div>

                        <div style='display:none;' id='pickup_location'>Pick Up Menu from <b>USP Cafeteria</b> <br/>&nbsp;
                          <br/>&nbsp;
                        </div>

                        <div class="form-group" id="location_hide" >
                          <label for="inputState">Choose Location</label>
                            <select id="location" id="validationCustom04" class="form-control" name="location" required>
                              <option selected>-----</option>
                              <option value="onsite">Onsite</option>
                              <option value="offsite">Offsite</option>
                            </select>
                            <div class="valid-feedback">
                              Looks good!
                            </div>
                            <div class="invalid-feedback">
                              Please select Location for Delivery.
                            </div>
                        </div>
                        <div class="form-group locations" id="offsite">
                          <label for="inputState">Choose Offsite Location</label>
                            <select id="inputState" id="validationCustom05" class="form-control" name="offsite_location" required>
                              <option selected>-----</option>
                              {% for offsite_location in offsite %}
                              <option value="{{offsite_location.id}}"> {{offsite_location}} </option>
                              {% endfor %}
                            </select>
                            <div class="valid-feedback">
                              Looks good!
                            </div>
                            <div class="invalid-feedback">
                              Please select Location for Delivery.
                            </div>
                        </div>
                        <div class="form-group locations" id="onsite">
                          <label for="inputState">Choose Onsite Location</label>
                            <select id="inputState" id="validationCustom06" class="form-control" name="onsite_location" required>
                              <option selected>-----</option>
                              {% for onsite_location in onsite %}
                              <option value="{{onsite_location.id}}">{{onsite_location}}</option>
                              {% endfor %}
                            </select>
                            <div class="valid-feedback">
                              Looks good!
                            </div>
                            <div class="invalid-feedback">
                              Please select Location for Delivery.
                            </div>
                        </div>

                        <div class="d-flex justify-content-center">
                          <button type="submit" class="btn btn-primary">Submit Details</button>
                        </div>
                        <br><br>
                      </form>
                      
                </div>
            </div>
        </div>

    </div>
</div>

<script>
  $(function() {
          $('#location').change(function(){
              $('.locations').hide();
              $('#' + $(this).val()).show();
          });
      });

  $(document).ready(function(){
    $('#delivery_mode').on('change', function() {
      if ( this.value == 'pickup')
      {
        $("#pickup_location").show();
        $("#location_hide").hide();
        $("#onsite").hide();
        $("#offsite").hide();
      }
      else
      {
        $("#pickup_location").hide();
        $("#pickup_location").hide();
        $("#location_hide").show();
        $("#onsite").show();
        $("#offsite").show();
      }
    });
  });

    // Example starter JavaScript for disabling form submissions if there are invalid fields
  (function () {
    'use strict'

  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  var forms = document.querySelectorAll('.needs-validation')

  // Loop over them and prevent submission
  Array.prototype.slice.call(forms)
        .forEach(function (form) {
            form.addEventListener('submit', function (event) {
                if (!form.checkValidity()) {
                event.preventDefault()
                event.stopPropagation()
            }

            form.classList.add('was-validated')
            }, false)
        })
  })()

  $(function(){
    var dtToday = new Date();
    
    var month = dtToday.getMonth() + 1;
    var day = dtToday.getDate();
    var year = dtToday.getFullYear();
    if(month < 10)
        month = '0' + month.toString();
    if(day < 10)
        day = '0' + day.toString();
    
    var maxDate = year + '-' + month + '-' + day;
    alert(maxDate);
    $('#inputPassword4').attr('min', maxDate);
  });

</script>

{% endblock content %}



