{% extends "main/layout.html" %}
{% block content %}
<div class="cart">
<div class="container">
  <!-- <h3 class="text-center text-light mb-2" style="color:rgb(0, 0, 0); text-align: center;">Our Tasty Lunch Dishes </h3> -->
  <h3 class="text-center mb-2" style="color:rgb(0, 0, 0); text-align: center;"><b>Tasty Lunch Dishes </b></h3>
  <div class="row">
    {% for item in items %}
        <div class="col-sm-4">
            <div class="card mb-3" style="height: fit-content; overflow: auto;">
              <img src="{{ item.image.url }}" style="height: 200px;">
                <div class="card-body text-center">
                  <button class="btn btn-warning" hidden>By:{{ item.created_by }}</button>
                  <h5 class="text-center"><a href="{% url 'orders:dishes' item.slug %}">{{ item.title }} </a><span class="badge badge-{{ item.label_colour }}">{{ item.labels }}</span></h5>
                  
                  {% if item.subcription_avail == True %}
                  <a href="{% url 'mealsubscription:subscription_reg' item.slug %}"><p button class="btn btn-warning">Subscribe Now</button></p> </a>
                  {% else %}
                  <p button class="btn btn-warning">No Subscription</button></p>
                  {%endif%}        
                  <h5 class="text-center">$ {{ item.price }}</h5>
                  <a href="{% url 'orders:dishes' item.slug %}" class="btn btn-info text-center py-3">Order Now</a>
                </div>
            </div>
        </div>
    {% endfor %}
  </div>
        <!--Pagination Part-->
        {% if items.has_other_pages %}
        <ul class="pagination">
          {% if items.has_previous %}
            <li><a href="?page={{ items.previous_page_number }}">&laquo;</a></li>
          {% else %}
            <li class="disabled"><span>&laquo;</span></li>
          {% endif %}
          {% for i in items.paginator.page_range %}
            {% if items.number == i %}
              <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
            {% else %}
              <li><a href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
          {% endfor %}
          {% if items.has_next %}
            <li><a href="?page={{ items.next_page_number }}">&raquo;</a></li>
          {% else %}
            <li class="disabled"><span>&raquo;</span></li>
          {% endif %}
        </ul>
        {% endif %}
</div>
</div>

{% endblock content %}